* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f6f8fc;
}

.supercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (width >= 768px){
  .supercontainer{
    gap: 32px;
  }
}
.head {
  text-align: center;
}
.title {
  font-weight: 600;
  font-size: 2rem;
}
.subtitle {
  font-weight: 400;
  color: #6b6b6b;
  font-size: 1.5rem;
}
@media screen and (width >= 768px){
  .container{
    display: flex;  
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (width >= 1400px){
  .container{
    display: flex;  
    justify-content: center;
    gap: 2rem;
  }
}
.card {
  width: 16.75rem;
  height: 16rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 0.5rem 1rem rgb(0 0 0 /0.1);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
@media (hover: hover){
  .card-pink:hover{
background-color: #F0C8FE;
  }
}
@media (hover: hover){
  .card-blue:hover{
background-color: #CADBFF;
  }
}
@media (hover: hover){
  .card-red:hover{
background-color: #FFCACA;
  }
}
@media (hover: hover){
  .card-green:hover{
background-color: #B4FFAF;
  }
}
.paragraph {
  text-align: center;
  font-size: 0.875rem;
}
.description {
  font-weight: 700;
  font-size: 1rem;
}
.icon {
  width: 2.5rem;
}

.container-image {
  display: flex;
  justify-content: center;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 50%;
}
.clock {
  background-color: #f7ddff;
}
.project {
  background-color: #dde8ff;
}
.resource {
  background-color: #ffddde;
}
.invoicing {
  background-color: #dfffdd;
}
